/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
 @import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

#ff-body {
  min-height: initial!important;
}

.details-control:before {
  font-family: FontAwesome;
  content: "\f055";
  font-size: 1.4em;
  color: #739e73;
}

.shown .details-control:before {
  font-family: FontAwesome;
  content: "\f056";
  font-size: 1.4em;
  color: #a90329;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../img/circles.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-empresa {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  padding: 2px;
  font-size: 17px;
  margin: 10px 0 0;
  color: #fff!important;
}

.a-header-empresa {
  color: snow;
  cursor: pointer;
}

